.card1{
    height: 3rem;
    width: 3rem;
    background-color:aqua ;
    transition: transform 4s;
}
.card1:hover{
    transform: rotate(120deg);
}

.card2{
    height: 3rem;
    width: 3rem;
    background-color:aqua ;
    margin-top: 2rem;
    animation-name: card2anime ;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes card2anime {
    form{background-color: yellow;}
    to{background-color: red;}
}

.card3{
    height: 3rem;
    width: 3rem;
    background-color:aqua ;
    margin-top: 2rem;
    animation-name: card3anime;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes card3anime {
    from{background-color: aliceblue;}
    to{margin-left: 5rem; background-color: chartreuse;}
}


.card4{
    height: 3rem;
    width: 3rem;
    background-color:aliceblue ;
    margin-top: 2rem;
    animation-name: card4anime;
    animation-duration: 4s;
    animation-iteration-count: infinite
}
@keyframes card4anime {
    0%{background-color: red;}
    25%{background-color: blue;}
    50%{background-color: green;}
    75%{background-color: yellow;}
    100%{background-color: red;}

}

.card5{
    height: 3rem;
    width: 3rem;
    background-color:aqua ;
    margin-top: 20px;
    animation-name: card5anime;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes card5anime {
    0%{background-color: red;margin-left: 0px; margin-top: 20px;}
    25%{background-color: blue; margin-left: 200px;margin-top: 20px;}
    50%{background-color: green;margin-left: 200px; margin-top: 200px;}
    75%{background-color: yellow;margin-left: 0px; margin-top: 200px;}
    100%{background-color: red;}

}