body{
    background-color: purple;
    margin: 30;
    padding: 30;
}
.container{
    margin-left: 25%;
    display:flex;
    justify-content: center;
    width: 50%;
    background-color: white;
}
.left-column{
    background-color: rgb(85, 2, 85);
    color: white;
    padding: 10px;
    width: 250;
}
.right-column{
    padding: 20px;
    
}
.profile img{
    
    border-radius: 50%;
    margin-bottom: 20px;
}
.profile h2{
    text-align: center;
    margin: 0;
    font-size: large;
}
.contact, .skills{
    margin-top: 20px;
}
h3{
    border-bottom: 2px solid ;
    padding-bottom: 10px;
}
.skills ul{
    list-style-type: none;
    padding: 10px ;
}
.skills li{
    margin-bottom: 2px;
}
.header h1{
    width: 100%;
    text-align: center;
    color: aliceblue;    
}